.chats-dropMenu {
  width: 300px;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.chats-card {
  width: 100%;
}
@media screen and (max-width: 990px) {
  .chats-dropMenu {
    margin-right: 100px !important;
    margin-top: 20px !important;
  }
}
@media screen and (min-width: 990px) {
  .chats-dropMenu {
    margin-top: 50px !important;
  }
}
.chats-dropMenu::-webkit-scrollbar {
  width: 2px;
}

.chats-dropMenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chats-dropMenu::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid transparent;
}
