.contactUs {
  width: 100%;
  height: 100%;
  color: black;
  background: white !important;
}
.contactUs-first {
  width: 100%;
  height: 300px;
  position: relative;
}
.contactUs-image {
  width: 100%;
  height: 100%;
}
.contactUs-image-content {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 0;
  width: 100%;
}
.contactUs-text {
  font-size: 4em;
  text-align: center;
}
.contactUs-text-by {
  font-size: 1em;
  margin-left: 30%;
}
ul {
  list-style: none;
  color: black;
}
.contactUs-socialMedia {
  bottom: 0% !important;
}
@media screen and (max-width: 700px) {
  .contactUs-details {
    flex-direction: column !important;
    justify-content: center !important;
  }
}
